.venv/
.git/
.gitignore
.venv
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/
.eggs/
*.egg
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
*.md
!README.md
LICENSE
docs/
.env
config/config.db*
CYOA/.cache/
